*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
*.DS_Store
*.coverage
*.egg-info/
*.eggs/
*.env
*.venv
.env
.venv
env/
venv/
ENV/
VENV/
instance/
.webassets-cache
.pytest_cache/
.tox/
.coverage.*
.cache
node_modules/
npm-debug.log
yarn-error.log