# Python
*.pyc
*.pyo
*.pyd
__pycache__/
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
local_settings.py
db.sqlite3

# Docker
*.log
*.pid
*.seed
*.pid.lock
**/docker-compose.override.yml
**/docker-compose.*.yml
**/Dockerfile.*.yml

# Environments
.env
.env.*
*.env

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Visual Studio Code
.vscode/

# JetBrains
.idea/

# PyCharm
.idea/
*.iml

# Dependencies
*.egg
*.egg-info/
.installed.cfg
*.egg-info/

# Build
build/
dist/
*.egg-info/
.installed.cfg
*.egg/
*.whl

# Distribution
*.tar.gz
*.zip
*.tar

# Testing
.coverage
.tox/
.nox/